@using AdvancedCSharpFinalProject.Models

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project

<h1>Project: @Model.Title</h1>
<ul>
    <li>Assigned Budget: @Model.AssignedBudget</li>
    <li>Current Expenses: @Model.ActualBudget</li>
    <li>Completion: @Model.CompletionPercentage / 100</li>
    <li>Deadline : @Model.Deadline</li>
    <li>Priority: @Model.Priority</li>
</ul>


<hr />

<ul>
    @foreach(ProjectTask task in Model.ProjectTasks)
    {
        <li>
            <a asp-action="ViewTask" asp-route-TaskId=@task.Id>@task.Title</a>
            <ul>
                <li>Developer: @task.Developer.UserName</li>
                <li></li>
                <li></li>
            </ul>
        </li>
        
    }
</ul>